

.nav {
    display: flex;
    justify-content: space-between;
    padding: 3rem 0;

    &__list li{
        list-style: none;
    }

    &__dark {
        color: black;
        text-decoration: none;
    }

    &__logo {
        font-weight: 800;
    }
}