
@use '../styles/mixins' as *;


.search {

    &__form {
        background-color: hsl(0, 0%, 100%);

        @include desktop {
            width: 40%;
            margin: 0;
            margin-left: 8rem;
        }
    }

    &__input {
        width: 100%;
        border: none;
        height: 6vh;
        padding: 0 2rem;
    }

    &__wrapper {
        display: flex;
        align-items: center;
        gap: 2rem;
        border: 1px solid black;
        box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.2);
        margin-bottom: 8rem;
    }
}